.card {
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
  margin-bottom: 2rem;
  background-color: white;
}

.card--crossref,
.card--doaj,
.card--microsoft {
  display: inline-block;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
  margin-bottom: 1.5rem;
  width: 100%;
}
.card--crossref {
  background-image: linear-gradient(
    to right,
    white,
    rgb(224, 252, 253),
    rgb(204, 253, 255),
    rgb(61, 135, 148)
  );
}
.card--doaj {
  background-image: linear-gradient(
    to right,
    white,
    rgb(255, 248, 236),
    rgb(253, 239, 216),
    rgb(218, 160, 68)
  );
}

.card--microsoft {
  background-image: linear-gradient(
    to right,
    white,
    rgb(221, 229, 255),
    rgb(213, 223, 255),
    rgb(196, 210, 255),
    rgb(60, 93, 202)
  );
  overflow: hidden;
}

.card--content {
  display: inline-block;
  width: 100%;
}

.card--title {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.card--crossref--image {
  float: left;
  margin: 0 auto;
  width: 15%;
  height: 15%;
}

.card--doaj--image {
  float: left;
  margin: 0 auto;
  width: 22%;
  height: 22%;
}

.card--microsoft--image {
  float: left;
  margin: 0 auto;
  width: 16%;
  height: 16%;
}

.card--crossref--text {
  font-family: helveticaneueetw01-55rg, helvetica neue, Helvetica, Arial,
    sans-serif;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-weight: bold;
}

.card--crossref--text p,
.card--doaj--text p,
.card--microsoft--text p {
  font-size: 1rem;
  font-weight: lighter;
}

.card--microsoft--text {
  font-family: Calibri;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  font-weight: bolder;
  overflow: auto;
}

.card--microsoft--text--cc {
  margin-left: 10%;
  width: 40%;
  float: left;
}

.card--doaj--text {
  font-size: 3rem;
  font-weight: lighter;
}

.card--doaj--text--warning,
.card--doaj--text--success {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.card--doaj--text--warning {
  margin-top: 2rem;
  border: 1px;
  border-radius: 15px;
  border-style: double;
  border-color: rgb(199, 44, 44);
  background-color: rgb(228, 135, 135);
}

.card--doaj a {
  text-decoration: none;
}

.card--doaj--seal:hover {
  background-color: #282624;
  color: #fd5a3b;
}
.card--doaj--seal {
  margin-left: 20%;
  margin-top: 40%;
  color: #282624;
  font-size: 1.5rem;
  font-weight: bold;
  border: 0.5px;
  padding: 0.5rem;
  border-radius: 15px;
  border-style: solid;
  border-color: rgb(199, 44, 44);
  background-color: #fd5a3b;
}

.card--microsoft--fos--title {
  text-align: center;
  margin-right: 20%;
}
.card--microsoft--fos {
  margin-left: 5%;
  margin-bottom: 25%;
  width: 90%;
  text-align: center;
  white-space: pre-wrap;
}
.card--microsoft--fos--badge {
  color: black;
  float: left;
  margin: 0.25rem;

  width: 25%;
  border: 0.5px;
  border-radius: 15px;
  font-size: 1rem;
  border-style: solid;
  border-color: rgb(42, 41, 41);
  background-image: linear-gradient(
    to right,
    rgb(209, 242, 250),
    rgb(212, 241, 253),
    rgb(167, 229, 255),
    rgb(144, 212, 243),
    rgb(122, 199, 235),
    rgb(67, 143, 179)
  );
}
.card--doaj--text .card--desc {
  display: flex;
}

a:visited {
  color: blue;
}

a:hover {
  font-weight: bold;
}

@media (min-width: 786px) {
  .card--crossref,
  .card--doaj {
    width: 100%;
  }
  .card--crossref--image {
    float: left;
    margin: 0 auto;
    width: 15%;
    height: 15%;
  }

  .card--doaj--image {
    float: left;
    margin: 0 auto;
    width: 15%;
    height: 15%;
  }

  .card--crossref--text {
    font-size: 3rem;
    font-weight: lighter;
  }

  .card--doaj--text {
    font-size: 3rem;
    font-weight: lighter;
  }

  .card--microsoft--text {
    font-family: Calibri;
    font-size: 2.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
    overflow: auto;
  }
  .card--doaj--text--warning,
  .card--doaj--text--success {
    font-size: 3rem;
    font-weight: bold;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0;
  }
  .card--doaj--text--success {
    padding-top: 0.25rem;
    margin-top: 1rem;
  }

  .card--doaj--text--warning {
    margin-top: 2rem;
    padding-top: 1.5rem;
    border: 1px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(199, 44, 44);
    background-color: rgb(228, 135, 135);
  }

  .card--title {
    margin-bottom: 0.5rem;
    font-size: 4rem;
  }

  .card--crossref--text p,
  .card--doaj--text p {
    font-size: 2rem;
  }

  .card--doaj a {
    text-decoration: none;
  }

  .card--doaj--seal:hover {
    background-color: #282624;
    color: #fd5a3b;
  }
  .card--doaj--seal {
    font-family: "Source Sans Pro", sans-serif;
    margin-left: 25%;
    margin-top: 20%;
    color: #282624;
    font-size: 2rem;
    font-weight: bold;
    border: 0.5px;
    padding: 0.5rem;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(199, 44, 44);
    background-color: #fd5a3b;
  }

  .card--microsoft--fos--badge {
    font-size: 2rem;
  }
}
