.card {
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
  margin-bottom: 2rem;
  background-color: white;
}

.card--score {
  display: block;
}

.card--content {
  display: inline-block;
  width: 100%;
}

.card--title {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.card--score--image {
  float: left;
  margin: 0 auto;
  width: 30%;
  height: 30%;
}

.card--score--text {
  font-family: helveticaneueetw01-55rg, helvetica neue, Helvetica, Arial,
    sans-serif;
  padding-top: 2rem;
  font-size: 3rem;
}

.card--desc {
  display: flex;
}

@media (min-width: 786px) {
  .card--score--image {
    float: left;
    margin: 0 auto;
    width: 20%;
    height: 20%;
  }

  .card--score--text {
    padding-top: 4rem;
    font-size: 4rem;
  }
  .card--title {
    margin-bottom: 0.5rem;
    font-size: 4rem;
  }
}
